.git
.idea
.gradle
.gradle-user
.gradle-user2
build/*
!build/libs/
!build/libs/*.jar
data
exports
outputs
node_modules
tools
*.dump
*.backup
*.env
cookie.txt
cookies.txt
proxies.txt
proxies-single.txt
proxy_http_ip.txt
proxy_https_ip.txt
*.iml
*.ipr
*.iws
